torch
torchvision
augmax>=0.3.4
dm-tree>=0.1.8
einops
equinox>=0.11.8
flatbuffers>=24.3.25
flax==0.10.2
fsspec[gcs]>=2024.6.0
gym-aloha>=0.1.1
imageio>=2.36.1
jax[cuda12]==0.5.3
jaxtyping==0.2.36
lerobot==0.3.3
ml_collections==1.0.0
numpy==1.26.4
numpydantic>=1.6.6
opencv-python
orbax-checkpoint==0.11.13
pillow>=11.0.0
sentencepiece>=0.2.0
tqdm-loggable>=0.2
typing-extensions==4.12.2
tyro
wandb>=0.19.1
filelock>=3.16.1
beartype==0.19.0
treescope>=0.1.7
transformers==4.57.0
rich>=14.0.0
polars>=1.30.0
imageio
gym==0.25.2
mujoco==3.3.6
timm
websockets>=11.0
tree>=0.2.4
pytest
hydra-core==1.2.0
easydict==1.9
robomimic==0.2.0
thop==0.1.1-2209072238
robosuite==1.4.0
bddl==1.0.1
future==0.18.2
matplotlib
cloudpickle==2.1.0
cmake==3.30.0